<div id="signature-pad-parent" style="overflow-y:hidden;"> <!--width:100%; height:100%; -->
Tool:
<select id="tool">
    <option value="brush">Brush</option>
    <option value="eraser">Eraser</option>
</select>
<div id="stage-parent" style="overflow-y:hidden;">
    <div id="@Settings.ContainerName"></div>
</div>
</div>